@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap%27%27');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select:none;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Barlow', cursive;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

#background-index {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-background-index {
  height: 100%;
  width: 100%;
}

#fototemaescuro {
  width: 5%;
}

#googlefit {
  width: 5%;
}

#headerDaConfiguracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #20c3ff;
}

#logoNutrihomeConfiguracao {
  width: 10%;
}

#linksDaConfiguracao {
  display: flex;
  align-items: center;
}

#linksDaConfiguracao a {
  margin-left: 10px;
  margin-right: 10px;
}

#linksDaConfiguracao a img {
  width: 40%;
  margin-left: 26%;
}

#imcCalculadora {
  width: 50%;
} 

#nestle_logoConfiguracao {
  width: 8%;
}

/* resto do codigo */

form{
  width: 38%;
  height: 12%;
  display: flex;
  justify-content: space-between;
}

#botoes{
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
}

#botoes div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#botoes label{
  font-size: 250%;
}

#botoes input{
  height: 100%;
  width: 52%;
  font-size: 180%;
}

#area-resultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  gap: 10%;
  font-size: 120%;
}

#resultado{
  padding: 4%;
  padding-inline: 20%;
}

#area-resultado button{
  height: 50%;
  width: 100%;
  font-size: 120%;
  background-color: orange;
}

#botao-redirecionar-dieta{
  text-align: center;
  padding-top: 0.8%;
  color: white;
  background-color: green;
  text-decoration: none;
  font-size: 110%;
  height: 100%;
  width: 50%;
}

#botao-redirecionar-especialista{
  text-align: center;
  padding-top: 0.8%;
  color: white;
  background-color: rgb(245, 139, 0);
  text-decoration: none;
  font-size: 110%;
  height: 100%;
  width: 48%;
}

#btn-redireciona{
  height: 4%;
  width: 22%;
  display: flex;
  justify-content: space-around;
}