@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap%27%27');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select:none;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Barlow', cursive;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

#background-index {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-background-index {
  height: 100%;
  width: 100%;
}

#fototemaescuro {
  width: 5%;
}

#googlefit {
  width: 5%;
}

#headerDaConfiguracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #20c3ff;
}

#logoNutrihomeConfiguracao {
  width: 10%;
}

#linksDaConfiguracao {
  display: flex;
  align-items: center;
}

#linksDaConfiguracao a {
  margin-left: 10px;
  margin-right: 10px;
}

#linksDaConfiguracao a img {
  width: 40%;
  margin-left: 26%;
}

#imcCalculadora {
  width: 50%;
}

#nestle_logoConfiguracao {
  width: 8%;
}

/* resto do codigo */

form{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#botoes{
  display: flex;
  flex-direction: column;  
}

#botoes label{
  font-size: 200%;
}

#botoes input{
  height: 90%;
}

#area-resultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10%;
  font-size: 120%;
}

#resultado{
  padding: 5%;
  margin-top: 15%;
}

#area-resultado button{
  height: 80%;
  width: 100%;
  font-size: 120%;
  background-color: orange;
}