@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap%27');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select:none;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Barlow', cursive;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

#background-index {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-background-index {
  height: 100%;
  width: 100%;
}

#fototemaescuro {
  width: 5%;
}

#googlefit {
  width: 5%;
}

#headerDaConfiguracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #20c3ff;
}

#logoNutrihomeConfiguracao {
  width: 10%;
}

#linksDaConfiguracao {
  display: flex;
  align-items: center;
}

#linksDaConfiguracao a {
  margin-left: 10px;
  margin-right: 10px;
}

#linksDaConfiguracao a img {
  width: 40%;
  margin-left: 26%;
}

/* #imcCalculadora {
  width: 50%;
} */

#nestle_logoConfiguracao {
  width: 8%;
}

/* area do site */

#area-botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 10%;
}

#area-botoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 4%;
    border-color: white;
    background-color: rgb(255, 103, 48);
    font-size: 120%;
    height: 30%;
    width: 100%;
}

#area-botoes a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 4%;
    border-color: white;
    background-color: rgb(209, 104, 65);
    font-size: 120%;
    height: 30%;
    width: 100%;
}

textarea {
    background-color: black;
    color: white;
    border-color: white;
    width: 30%;
    height: 15%;
}

h1 {
    float: left;
}

p {
    color: grey;
}