@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Happy Monkey', cursive;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

#background-index {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-background-index {
  height: 100%;
  width: 100%;
}

#fototemaescuro {
  width: 5%;
}

#googlefit {
  width: 5%;
}

#headerDaConfiguracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #20c3ff;
}

#logoNutrihomeConfiguracao {
  width: 10%;
}

#linksDaConfiguracao {
  display: flex;
  align-items: center;
}

#linksDaConfiguracao a {
  margin-left: 10px;
  margin-right: 10px;
}

#linksDaConfiguracao a img {
  width: 40%;
  margin-left: 26%;
}

#imcCalculadora {
  width: 70%;
}

#nestle_logoConfiguracao {
  width: 8%;
}

/* area do site */

#areaTela{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

#box-areas{
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#box-hidra{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#box-hidra p{
  font-size: 550%;
  color: #20c3ff;
}

#box-dieta{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#box-dieta img{
  height: 50%;
}

#box-dieta a{
  color: white;
}

#box-imc{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#box-imc p{
  font-size: 550%;
  color: green;
}