@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap%27');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background-index {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#fototemaescuro {
  width: 5%;
}

#googlefit {
  width: 5%;
}

#headerDaConfiguracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #20c3ff;
}

#logoNutrihomeConfiguracao {
  width: 10%;
}

#linksDaConfiguracao {
  display: flex;
  align-items: center;
}

#linksDaConfiguracao a {
  margin-left: 10px;
  margin-right: 10px;
}

#linksDaConfiguracao a img {
  width: 40%;
  margin-left: 26%;
}

/* #imcCalculadora {
  width: 50%;
} */

#nestle_logoConfiguracao {
  width: 8%;
}
