@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Happy Monkey', cursive;
    margin: 0; /* Adicione esta linha para remover a margem padrão do corpo */
    overflow: hidden; /* Adicione esta linha para evitar a rolagem vertical */
    background-color: black;
}

                    /* tela index */                
#background-index{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover; /* Alteração para background não esticado */
    background-repeat: no-repeat;
}

#img-background-index{
    height: 100%;
    width: 100%;
}

/* box com sections */
.divisao{
    display: flex;
    height: 100%;
}

/* sections das logos */
#section-nestle{
    display: flex;
    justify-content: center;
    width: 34vw;
}

#area-nestle{
    margin-top: 20%;
    width: 45%;
    height: 30%;
    
}

#nestle_logo1{
    height: 100%;
}


#section-qr_code{
    width: 33vw;
    display: flex;
    justify-content: center;
}

#area-qr-code{
    margin-top: 20%;
    height: 35%;
    width: 45%;
}

#qr_code{
    height: 100%;
}

/* section da parte central */
#section-partecentral{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33vw;
}

#box-logo{
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45%;
}

#logoNutrihome{
    width: 85%;
}

#box-logo p{
    font-size: 120%;
    margin-top: 1%;
    color: rgb(255, 103, 48);
}

.preenche_texto{
    margin-top: 5%;
    height: 28%;
    width: 100%;
    font-family: 'Happy Monkey', cursive;
}

#area-login{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 45%;
    padding-left: 5%;
    font-family: 'Happy Monkey', cursive;
}

#area-login div{
    display: flex;
    justify-content: space-around;
    height: 42%;
    width: 90%;
}

#area-login div label{
    font-size: 140%;
    color: white;
    font-family: 'Happy Monkey', cursive;
}

#area-login div input{
    height: 100%;
    width: 80%;
    padding-left: 3%;
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Happy Monkey', cursive;
}

#area-botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    
}

#area-botoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 4%;
    background-color: rgb(255, 103, 48);
    font-size: 120%;
    height: 60%;
    width: 30%;
}

#area-tipos-login{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 15%;
    width: 100%;
}

#title-tipos-login{
    height: 10%;
    text-align: center;
    color: rgb(255, 103, 48);
    font-size: 120%;
}

#social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

#social-media a{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-media .google img{
    height: 85%;
}

#social-media .facebook img{
    height: 100%;
}

/* trocar a cor da seleção de texto */
::selection {
    background-color: #3EB14A;
    color: #fff;
}

/* responsivo para celular */
@media (max-width: 768px) {
    #section-qr_code {
        display: none;
    }
    #section-nestle {
        display: none;
    }
    #section-partecentral {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        overflow-y: hidden;
    }

    #box-logo {
        margin-top: 10%;
    }

    #area-login {
        padding-left: 5%;
    }

    #area-botoes {
        flex-direction: column;
        align-items: center;
    }

    #area-botoes a {
        margin-top: 5%;
        width: 60%;
        font-size: 14px;
    }

    #area-tipos-login {
        margin-top: 5%;
    }

    #social-media {
        height: 60%;
    }

    #logoNutrihome {
        width: 80%;
        max-width: 500px;
    }

    #box-logo p {
        font-size: 14px;
        margin-top: 10px;
    }
}