*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divisao{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: baseline;
}

#logoNutrihome{
  width: 25%;
}

#nestle_logo1{
    width: 10%;
}

#qr_code{
    width: 10%;
}

body{
    height: 100vh;
    overflow-y: hidden;
}

#background-index{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

#img-background-index{
    height: 100%;
    width: 100%;
}