@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4a8be0;
  padding: 10px;
  display: flex;
  align-items: center;
}

header img {
  max-width: 100px;
  margin-right: 10px;
  transform: scale(1.0);
}

header .configuracao-img,
header .pagina-principal-img {
  max-width: 100px;
  margin-right: 10px;
  transform: scale(1.1);
}

header h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  display: inline;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

nav a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

nav img {
  max-width: 20px;
  margin-right: 5px;
}

body {
  padding-top: 150px;
  background-color: #7DA3D5;
  color: #004AAD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, form {
  text-align: center;
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 75px;
}

h1, h2, h3, h4, h5, h6 {
  color: #002E3D;
  font-family: 'Playfair Display', serif;
}

p {
  color: #2C383D;
  font-family: 'Open Sans', sans-serif;
}

.amarelo, .vermelho {
  color: red;
}

.verde {
  color: green;
}

#amarelo1, #vermelho1 {
  color: red;
}

#verde1 {
  color: green;
}

#inicialimage {
  width: 30%;
  height: auto;
}

.anchor-centralizada {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.anchor-centralizada a {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  background-color: #5083C6;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.anchor-centralizada .social-media {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin: 0;
}

.anchor-centralizada .social-media a {
  margin: 0;
  display: flex;
  align-items: center;
}

.anchor-centralizada .social-media img {
  margin: 0;
}


.anchor-centralizada .login-options {
  display: flex;
  align-items: center;
}

.anchor-centralizada .login-options a {
  margin-right: 10px;
}

.anchor-centralizada .social-media {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin: 0;
}

.anchor-centralizada .social-media a {
  margin-right: 10px;
  margin: 0;
}

.anchor-centralizada .google,
.anchor-centralizada .facebook {
  margin-right: 0px;
  margin-top: 0px;
  background-color: transparent;
}


.center-text {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0;
}

#center {
  text-align: center;
}

label {
  font-family: 'Open Sans', sans-serif;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5083C6;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a75b8;
}

.botao01 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5083C6;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.botao01:hover {
  background-color: #4a75b8;
}

#botao-redirecionar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5083C6;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.resultado {
  margin-top: 5%;
}
.mensagem {
  margin-bottom: 5%;
}




#botao-redirecionar:hover {
  background-color: #4a75b8;
}

#calculadora {
  font-size: 50px;
}

#titulodieta {
  font-size: 30px;
}